
.idea/

web-api.zip
.DS_Store
web/.DS_Store
web/node_modules/

web/public/assets/
assembly/node_modules/
web-api/node_modules/


user-api/.DS_Store
user-api/gradle/.DS_Store
web/src/.DS_Store
web/src/components/.DS_Store